# GitHub Linguist Language Configuration
*.astro linguist-detectable
*.astro linguist-language=Astro

*.vue linguist-detectable
*.vue linguist-language=Vue

# Treat static data files as vendored to highlight Vue & Astro as the primary project languages
src/data/** linguist-vendored
docs/** linguist-documentation
